    header {
    padding: 20px;
    text-align: center;
    background: black;
    font-size: 30px;
  }

  .header_title {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #EDC580;
    border-bottom: solid;
    border-color: #EDC580; 
    border-width: 3px;
    font-weight: bold;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: #121212;
    color: white;
  }

  .disclaimer {
    line-height: 1.2em;
    font-size: 16px;
    letter-spacing: normal;
    color: #EDC580
  }
