body {
  font-family: Arial, sans-serif;
  color: #343b49;
  background-color: #DAF0F7;
}

header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* add this line to display the list items as a flex container */
}

nav li {
  margin: 0 10px; /* adjust the right margin of each list item to add some space between them */
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #343b49;
  transition: background-color 0.5s;
  position: relative; /* add this line to enable the underline effect */
}

nav a:before {
  content: '';
  position: absolute;
  bottom: -5px; /* adjust this value to position the underline under the text */
  left: 50%; /* position the underline at the center of the text */
  transform: translateX(-50%); /* adjust the position of the underline to the center of the text */
  width: 0;
  height: 2px;
  background-color: #343b49;
  transition: width 0.3s ease; /* add the animation with a duration of 0.5s and ease timing function */
}

nav a:hover:before {
  width: 100%; /* expand the underline to the width of the text on hover */
}

main {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }

  h2 {
    font-size: 3em; /* increase the font size */
    font-family: 'Montserrat', sans-serif; /* use the Montserrat font */
  }
  
  section {
    width: 45%; /* adjust the width of the section to take up less than half the screen */
    padding: 20px;
  }
  
  #logo {
    width: 45%; /* adjust the width of the logo section to take up less than half the screen */
    text-align: center;
  }
  
  #logo img {
    width: 100%;
    max-width: 300px; /* adjust the maximum width of the logo to make it smaller */
  }
  
  
  #about {
    text-align: center;
  }
  
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid;
    border-color: #EDC580;
    border-width: 3px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 70px;
    /*flex-wrap: wrap;*/
  }
  
  .footer-logo, .footer-link, .footer-contact, .footer-disclaimer {
    width: 25%;
  }
  
  .footer-logo img {
    height: 140px;
  }
  
  .footer-link img {
    height: 40px;
    margin-left: 10px;
    border: 0;
  }
  
  .footer-contact {
    text-align: left;
  }
  
  .footer-contact p {
    margin: 0;
    font-weight: bold;
  }
  
  .footer-contact a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    position: relative;
  }
  
  .footer-contact a:before, a.header_tab:before, a.header_tab1:before {
    content: '';
    position: absolute;
    bottom: -3px; /* adjust this value to position the underline under the email text */
    left: 50%; /* position the underline at the center of the email */
    transform: translateX(-50%); /* adjust the position of the underline to the center of the email */
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease; /* add the animation with a duration of 0.5s and ease timing function */
  }
  
  .footer-contact a:hover:before, a.header_tab:hover:before, a.header_tab1:hover:before {
    width: 85%; /* expand the underline to the width of the email on hover */
  }
  
  .footer-disclaimer {
    text-align: left;
    margin-left: 10px;
    font-size: 0.8em;
  }
  
  .copyright {
    margin-top: 5px;
    font-size: 14px;
  }
